<%= link_to root_path, class: "go-back" do %>
    <%= image_tag "back.svg", alt: "" %> <span>Go back</span>
<% end %>

<div class="two-thirds">
    <h1 class="page-title">These groups and services may be able to help</h1>
</div>

<% if (params[:categories] && params[:categories].include?("financial")) %>
    <section class="important">
        <p>If your income has stopped or dropped as a result of coronavirus, you might be able to get financial support.</p>
        <a class="important__link" href="https://www.midsussex.gov.uk/coronavirus-community-support/">Details and how to apply</a>
    </section>
<% end %>    

<ol class="service-results">
    <% @top_result.each do |s| %>
        <%= render partial: "shared/service_card", locals: {s: s, recommended: true} %>
    <% end %>

    <% @services.each do |s| %>
        <%= render partial: "shared/service_card", locals: {s: s, recommended: false} %>
    <% end %>
</ol>

<section class="safeguarding">

    <p>The information provided by this facility is for signposting purposes only. You need to make your own enquiries to determine if the services are appropriate for your needs. While MSDC endeavour to keep the information up to date and correct, errors can occur. If you are unhappy or concerned about any of these services please contact Mid Sussex District Council. <a href="mailto:wellbeing@midussex.gov.uk">Email: wellbeing@midussex.gov.uk</a></p>
    <br>
    <h2>Can't find what you need?</h2>
    <p>If these results don't match your need, please <a href="https://www.midsussex.gov.uk/coronavirus-community-support/">see our other Coronavirus resources</a>.</p>
</section>
